<% provide(:title, "Tournament #{@round.tournament_id}: Round #{@round.number}") %>
<% provide(:back_path, tournament_round_path(tournament_id: @round.tournament_id, id: @round.number)) %>

<h2>Matchings</h2>
<table class="table table-bordered">
  <tbody>
    <% @tables.each.with_index(1) do |table, i| %>
      <tr>
        <td><%= i %></td>
        <% table.scores.each do |score| %>
          <td><%= score.player.name %></td>
        <% end %>
        <% (4 - table.scores.size).times do %>
          <td>-</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
