<% provide(:title, 'List of tournaments') %>

<ul>
  <% @tournaments.each do |t| %>
    <li><%= link_to t.id, tournament_path(t) %></li>
  <% end %>
</ul>

<%= link_to 'New Tournament', new_tournament_path, class: 'btn btn-primary' %>
