<% provide(:title, 'List of tournaments') %>
<% provide(:back_path, tournaments_path) %>

<div class="center">
  <%= link_to 'New Tournament', new_tournament_path, class: 'btn btn-primary' %>
</div>
<div class="center-block">
  <ul class="list-inline center">
    <% @tournaments.each do |t| %>
      <li><%= link_to t.id, tournament_path(t) %></li>
    <% end %>
  </ul>
</div>
