<% unless object.blank? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= pluralize(object.count, "error") %> found.
      <ul>
      <% object.each do |msg| %>
        <li class="error_message"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>
