<% unless object.blank? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= pluralize(object.count, "error") %> found.
      <ul>
      <% object.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
        <li>foo</li>
      </ul>
    </div>
  </div>
<% end %>
